* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  width: 100%;
}

html,
body {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-diagonal-reverse {
    clip-path: polygon(57% 0, 100% 0, 100% 100%, 0% 100%);
  }
}
